body {
    font-size: 20px;
    font-family: Helvetica;
    color: #7C8B88;
}


div.titulo {
    height: 100px;
    width: 700px;
    background-color: #33BEBE;
    color: #ffffff;
    text-align: left;
    font-size: 2.5em;
    margin-top: 200px;
    margin-bottom: 30px;
    margin-left: 300px;
}

h1{
	padding-top: 50px;
	padding-left: 20px;
	font-size: 40px;
}

.content{
    width: 700px;
    display: flex;
    height: 200px;
    margin-left: 300px;
}

.description{
    width: 76%;
    text-align: left;
    padding: 20px;
    color: #aaaaaa;
}