body {
    font-size: 20px;
    font-family: Helvetica;
    color: #7C8B88;
}


div.titulo {
    height: 100px;
    width: 700px;
    background-color: #33BEBE;
    color: #ffffff;
    text-align: left;
    font-size: 2.5em;
    margin-top: 200px;
    margin-bottom: 30px;
    margin-left: 100px;
}

h1{
	padding-top: 50px;
	padding-left: 20px;
	font-size: 30px;
}
.content{
    width: 700px;
    display: flex;
    height: 110px;
    
    margin-top: 30px;
}

.content1{
    width: 700px;
    display: flex;
    height: 110px;
    margin-left: 300px;
    margin-top: 30px;
}

.description{
    width: 76%;
    text-align: right;
    padding: 20px;
    color: #aaaaaa;
}

.linea{
    margin-top: 0px;
    background-color: #D0C4AB;
    margin-left: 300px;
    width: 700px;
    height: 5px;
    margin-bottom: 15px;
}

.imagen{
    padding-top: 20px;
}

.letra{
    width: 700px;
    height: 10px;
    margin-top: 10px;
    text-align: left;;
}

.texto{
    font-size: 8px;
    
}

.nombre{
    font-size: 20px;
    
}

.fondo{
    background-color: #131A2D;
    width: 700px;
    margin-left: 300px;
}