body {
    font-size: 20px;
    font-family: Helvetica;
    color: #7C8B88;
}


div.titulo {
    height: 100px;
    width: 700px;
    background-color: #33BEBE;
    color: #ffffff;
    text-align: left;
    font-size: 2.5em;
    margin-top: 200px;
    margin-bottom: 30px;
    margin-left: 100px;
}

h1{
	padding-top: 50px;
	padding-left: 20px;
	font-size: 30px;
}

.content{
    width: 1000px;    
    height: 900px;
    display: flex;
    margin-left: 400px;
    background-color: #E8E8E7;
}

.description{
    width: 500px;
    height: 700px;
    text-align: left;
    padding-left:   10px;
    color: #aaaaaa;
    margin-left: 230px;
    background-color: white;
}

.verde{
    background-color:#8BCC98;
    width:  1000px;
    height: 20px;
    margin-left: 400px;
}